.popularRestaaurent {
    height: 365px;
    width: 100%;
    margin-top: 40px;
  }
  .popularRestaaurentHeader {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    flex-shrink: 0;
  }
  .popularRestaaurentHeader > h4 {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    flex-shrink: 0;
  }
  .popularRestaaurentImage{
    display: flex;
    gap: 20px;
  }
  .popularRestaaurentDiv1 {
    height: 250px;
    width: 15.4%;
    background: #FC8A06;
    border-radius: 12px;
    flex-shrink: 0;
    margin-top: 30px;
    cursor: pointer;
    overflow: hidden;
  }
  .popularRestaaurentImage1 {
    height: 183px;
    width: 100%;
  }
  .popularRestaaurentImage1 > img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
  }
  .RestaurentCards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .RestaurentCards > h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;  
    flex-shrink: 0;
  }

  @media (max-width:1200px){
    .popularRestaaurentDiv1{
      height: 200px;
      display: flex;
      flex-direction: column;
    }
    .popularRestaaurentImage1{
      height: 200px;
      gap: 5px;
    
    }
    .popularRestaaurentImage1 > img{
      object-fit: fill;
    }
    .RestaurentCards{
      margin: 10px 10px;
    }
    .RestaurentCards > h3{
      font-size: 14px;
    }
    .popularRestaaurentImage{
      gap:15px;
    }
  }
  @media (max-width:1200px){
    .popularRestaaurentDiv1{
      height: 170px;
      display: flex;
      flex-direction: column;
    }
    .popularRestaaurentImage1{
      height: 200px;
      gap: 3px;
    
    }
    .RestaurentCards > h3{
      font-size: 12px;
    }
    .popularRestaaurent {
      height: 280px;
    }
  
  }
  @media (max-width:992px){
    .popularRestaaurentDiv1{
      width: 140px;
      /* height: 200px; */
      /* display: inline-block; */
    }
    .popularRestaaurent {
      margin-left: 30px;
      width: 92%;
    }
    .popularRestaaurentImage{
      overflow-x: scroll;
      overflow-y: hidden;
      overflow-y: hidden;
      scrollbar-width: thin;
    }
  }