.container {
  padding: 0 70px;
}
.allNav {
  padding: 0 50px;
}
.successWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.success {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: #ebfaeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.successImage {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.successImage > img {
  height: 100%;
  width: 100%;
}
.successWrapper > h3 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.orderDescription > p {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #83858a;
}
.orderDescription > h3 {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #83858a;
}
.orderDetails {
  height: auto;
  width: 300px;
  border: 1px solid #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 12px;
}
.orderDetails {
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}
.orderDetails > button {
  height: 30px;
  width: 100%;
  background: #fc8a06;
  border: none;
  color: #ffffff;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.footer{
  margin-top: 70px;
}