.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: white;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.container h2 {
  font-size: 1.5rem;
  text-align: left;
  padding: 0 30px;
  padding-top: 20px;
}

.container form {
  display: grid;
  gap: 15px;
}

.container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  gap: 30px;
  padding: 0 30px;
}

.container input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 73%;
  padding: 0 30px;
}

.actions {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  background: #fc8a06;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.removeButton {
  position: absolute;
  background: #bf4c4c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 120px;
  background: #663700;
  left: 20px;
  bottom: 25px;
}

.cancelButton {
  background: none;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.saveButton {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.cancelSaveButton {
  display: flex;
  gap: 5px;
}
