.checkoutContainer {
  padding: 0 70px;
}
.allNavbar {
  padding: 0 50px;
}
.checkout {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.checkoutName {
  width: 346px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkoutName > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.checkoutName > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
.Details {
  display: flex;
  gap: 20px;
}

.notesAndDetails {
  height: auto;
  width: 65%;
}
.getItem{
  border: 1px solid #03081f;
  padding: 10px;
  border-radius: 12px;
}
.checkoutDetails {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkoutDetails > p {
  color: #028643;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.checkoutDetailsWrapper {
  display: flex;
  gap: 10px;
}
.checkoutDetailsWrapper > img {
  height: 48px;
  width: 48px;
}
.cartTitle {
  display: flex;
  flex-direction: column;
}
.cartTitle > h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.allItem {
  display: flex;
  flex-direction: column;
}
.cartTitle > p {
  color: #83858a;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.line {
  height: 1px;
  width: 100%;
  background: #d9d9d9;
  border: 1px solid #202938;
}
.notes {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
.notes > p {
  color: #83858a;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.notes > textarea {
  height: 50px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  border: 1px solid #202938;
  resize: none;
  border-radius: 120px;
  text-align: left;
  padding-left: 20px;
  padding-top: 7px;
  outline: none;
}
.allAddressDetails {
  height: auto;
  width: 35%;
}
.input {
  height: 65px;
  width: 100%;
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.input > img{
  cursor: pointer;
}
.allInputItem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mapPin {
  width: 42px;
  height: 42px;
  border: 1px solid #2d3748;
  box-shadow: 0px 8px 20px 0px #56585c1f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapPin > img {
  height: 20px;
  word-wrap: 20px;
}
.delivery{
  cursor: pointer;
}
.delivery > h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}
.delivery > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #83858a;
}
.line2 {
  height: 1px;
  width: 100%;
  background: #d9d9d9;
  border: 1px solid #202938;
  margin-top: 15px;
}
.itemAndTax {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.totalItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.totalItems > p {
  color: #83858a;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}
.totalItems > h3 {
  color: #83858a;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.tax {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tax > p {
  color: #83858a;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}
.tax > h3 {
  color: #83858a;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.subTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.subTotal > p {
  color: #83858a;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.allAddressDetails > button {
  height: 40px;
  width: 100%;
  background: #fc8a06;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  margin-top: 30px;
  cursor: pointer;
}
.footer {
  margin-top: 50px;
}
.noItem {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 48px;
}
