.container {
  padding: 0 70px;
}
.addAddress {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.addressHeading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.addressHeading > img {
  width: 39px;
  height: 39px;
  cursor: pointer;
}
.addressHeading > p {
  font-size: 25px;
  font-weight: 600;
  line-height: 48px;
}
.addAddressBtn {
  width: 200px;
  height: 170px;
  border-radius: 12px;
  border: 1px dashed #afafaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addAddressBtn > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.addBtn {
  height: 35px;
  width: 35px;
  background: #ffe8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.addBtn > button {
  color: #fc8a06;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
.userAddress {
  width: 200px;
  height: 170px;
  border-radius: 12px;
  border: 1px solid #afafaf;
  padding: 10px;
}
.userName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.userName > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.userName > button {
  width: 69px;
  height: 22px;
  border-radius: 100px;
  text-align: center;
  border: none;
  background: #ffedd8;
  color: #fc8a06;
  cursor: pointer;
}
.userAddress > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin-top: 20px;
}
.userAddress > h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin-top: 10px;
}
.editRemove{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.editRemove > p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16.8px;
  color: #FC8A06;
  cursor: pointer;
}
.line{
  border: 1px solid #AFAFAF;
  height: 12px;
}